/* 基本 */
html{font-family:"ＭＳ Ｐゴシック","MS UI Gothic",sans-serif;}

body{
	width:1000px;
	background-color:#aaa;
	margin:0;
	padding:0;
	font-family: "ＭＳ Ｐゴシック","MS UI Gothic",sans-serif;
}

img{
	border:0;
	margin:0;
	vertical-align:middle;
	float:left;
}
input{
	vertical-align:top;
}

.left{text-align:left;}
.center{text-align:center;}
.right{text-align:right;}

/* Header */
#HEADER{
	background:black url(img/top.gif) repeat-y fixed;
	height:20px;
	padding:2px;
}

#VERSION{
	font:bold 16px/20px "arial black","ＭＳ ゴシック",monospace;
	color:white;
	text-align:left;
	padding:0 0 0 7px;
	float:left;
}
#LINK_CONTAINER{
	text-align:right;
	line-height:22px;
}
#LINK_CONTAINER>a{
	padding-right:10px;
	font-size:12px;
	color:yellow;
}

#MAIN_CONTENT_CONTAINER{
	clear:left;
	width:100%;
	margin:1px 0;
}
.frame{padding:0;min-width:12px;min-height:12px;}
#FRAME_LT{width:12px;height:12px;}
#FRAME_CT{background-image: url(img/frame/CT.gif);height:12px;width:976px;float:left;}
#FRAME_RT{width:12px;height:12px;float:right;}
#FRAME_LM{background: url(img/frame/LM.gif) repeat-y;}
#FRAME_RM{background: url(img/frame/RM.gif) repeat-y right;}
#FRAME_LB{height:12px;}
#FRAME_CB{background-image: url(img/frame/CB.gif);height:12px;width:976px;float:left;}
#FRAME_RB{height:12px;float:right;}

#LEFT_CONTENT_CONTAINER{
	vertical-align:top;
	width:250px;
}
#ASSEMBLE_CONTAINER{
	border:2px inset #999;
	background-color:#303030;
	vertical-align:top;
	width:360px;
	padding:10px 0 10px 10px;
	border-radius:8px;
	-moz-border-radius:8px;
}
#RIGHT_CONTENT_CONTAINER{
	vertical-align:top;
	padding-left:5px;
}
#OVERLAY{
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:fixed;
	background-color:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
}
.loading{background:url(img/loading.gif) no-repeat center center fixed;}
.transparent_field{
	position:fixed;
	top:0;
	left:0;
	width:1000px;
	height:100%;
	display:none;
}

#PARTS_TEMPLATE{
	display:none;
}

#ASSEMBLE{
	color:#e5e6e8;
	height:500px;
	overflow:auto;
}
.un_redo{
	float:right;
	padding:2px;
	font:bold 16px/16px "ＭＳ ゴシック",monospace;
	color:black;
	background-color:#999;
	border:1px outset #999;
	cursor:default;
}
.un_redo:active{border-style:inset;}
.disabled{
	color:#ccc;
	border:1px solid #999;
}
.disabled:active{border-style:solid;}
#REDO{margin-right:10px;}

#SET_ALL_PARTS{
	margin:0;
	height:22px;
}

#LIST_CONTAINER{
	margin:0;
	width:210px;
	position:absolute;
	display:none;
	font:bold 12px/150% "ＭＳ Ｐゴシック",sans-serif;
}
#LIST_TOP{
	height:12px;
	background: url(img/LISTtop.gif);
}
#LIST_BOTTOM{
	height:12px;
	background: url(img/LISTbottom.gif);
}
.parts_list, #LIST_TUNE{
	list-style-type:none;
	background-color:black;
	padding:3px 1px 3px 3px;
	margin:0;
	height:300px;
	overflow:auto;
	display:none;
	opacity:0.85;
	filter:alpha(opacity=85);
}
#UNSET_PARTS{
	background-color:#112;
	border:solid black;
	border-width:3px 8px;
	padding:1px 5px;
	color:#ea7b03;
	cursor:pointer;
}
#UNSET_PARTS:hover{
	background-color:#778;
}
.prtlst{
	cursor:pointer;
	background-color:#123;
	color:#f5f6f8;
	margin:0 1px 0 5px;
	padding:1px 5px;
	border-bottom:3px solid black;
}
.prtlst:hover{
	background-color:#ea7b03;
}
.prtlst.selected{background-color:#452;}

.tune_li{
	cursor:pointer;
	background-color:#300;
	color:#e5e6e8;
	margin:0 1px 0 5px;
	padding:1px 5px;
	border-bottom:3px solid black;
}
.tune_li:hover{
	background-color:#ea7b03;
}
.subject{
	float:left;
	width:28px;
	padding:0;
	text-align:center;
	font-weight:bold;
}
#NARROW_DOWN_CONTAINER{
	position:absolute;
	top:0px;
	left:212px;
	background-color:#000;
	border:1px outset #777;
	border-radius:8px;
	-moz-border-radius:8px;
	color:#fff;
	padding:10px;
	opacity:0.9;
}
#NARROW_DOWN_CONTAINER.nbd{
	width:140px;
}
#ND_TITLE{
	cursor:pointer;
	white-space:nowrap;
	border-bottom:1px inset #222;
}
#ND_TITLE:before{
	content:"≫";
}
#ND_TITLE.opened:before{
	content:"≪";
}
.nd_status_col{
	width:140px;
	vertical-align:top;
}
.nd_cartridge_col{
	width:160px;
	vertical-align:top;
}

#ND_BODY{
	display:none;
	width:300px;
}
.button_set{
	clear:left;
	padding:10px 0;
	white-space:nowrap;
}
#ND_OPERAND,
.nd_vals{
	display:none;
}
.nd_button{
	background-color:#000;
	border:1px outset #777;
	border-radius:4px;
	-moz-border-radius:4px;
	font:bold 14px/14px "ＭＳ ゴシック",monospace;
	color:#fff;
	padding:4px;
	margin:1px;
	float:left;
	cursor:pointer;
	text-align:center;
}
.nd_button:active{
	border-style:inset;
}
.status{
	width:34px;
}
#ND_MAIN{
	width:50px;
	color:#ff5252;
}
#ND_SUB{
	width:50px;
	color:#5491F6;
}
.toggle.on{
	border-style:inset;
	background-color:#333;
}
#ND_MINUS{
	width:30px;
}
#ND_MINUS.on{
	border-style:inset;
	background-color:#333;
}
#ND_CARTRIDGE{
	border-radius:8px;
	-moz-border-radius:8px;
	color:#fff;
}
#NDC_BODY{
	height:280px;
	overflow:auto;
	list-style-type:none;
	padding:0;
	margin:5px 0 0;
}
.ndc_li{
	cursor:pointer;
	background-color:#304B6C;
	color:#858688;
	padding:1px 3px;
	border-bottom:2px solid #000;
}
.ndc_li.selected{
	color:#E5E6E8;
}

.select_box{
	background-color:#555;
	width:160px;
	cursor:pointer;
	margin:0;
	padding:1px 3px;
	border:1px #aaa inset;
	color:#e5e6e8;
	font:12px/17px "ＭＳ Ｐゴシック",sans-serif;
	height:17px;
	float:left;
	border-radius:4px;
	-moz-border-radius:4px;
}
.branch{
	clear:left;
	padding:0 0 0 22px;
	margin:0;
	display:none;
}
.branch_line{
	width:10px;
	height:10px;
	border-left:3px solid orange;
	border-bottom:3px solid orange;
	position:absolute;
}

.slot{
	background-color:#447990;
	border:4px inset #447990;
	width:10px;
	height:10px;
	float:left;
	margin:1px;
	cursor:pointer;
	display:none;
}

.tunecpt{
	background-color:#00ce11;
	width:16px;
	height:16px;
	border:1px outset #222;
}
.tunemwp{
	background-color:#cc2727;
	width:16px;
	height:16px;
	border:1px outset #222;
}
.tunepwp{
	background-color:#0080cb;
	width:16px;
	height:16px;
	border:1px outset #222;
}
.tuneexcpt{
	background-color:#CDB500;
	width:16px;
	height:16px;
	border:1px outset #222;
}

.cpt{color:#00ce11;}
.mwp{color:#ee2727;}
.pwp{color:#0080cb;}
.excpt{color:#CDB500;}

/* .group */
.group{
	text-align:center;
	font-weight:bold;
	color:yellow;
	cursor:default;
}

.select_box.joint{background-color:#445;}

.bltin_m{color:#ff5252;}
.bltin_s{color:#5491f6;}
.bltin_ms{color:#ff3ff6;}
.bltin_wb{color:#efe63f;}
.hoverlst{background-color:#ea7b03;}

/* PARTS DATA VIEW */
#PARTS_DATA_VIEW{
	background-color:#178395;
	color:#e5e6e8;
	width:340px;
	margin-left:4px;
	float:left;
}
#PDV_COMMENT{
	background-color:#003438;
	height:50px;
	margin:5px 5px 0 5px;
	padding:3px 7px;
	border-radius:4px;
	-moz-border-radius:4px;
	font: 14px/16px "ＭＳ Ｐゴシック",sans-serif;
	overflow:auto;
}
.pdv_item_container{
	background-color:#003438;
	border-radius:4px;
	-moz-border-radius:4px;
	padding:3px 7px;
}
.pdv_item_name{
	font:12px/19px "arial black","ＭＳ ゴシック",monospace;
}
.pdv_val{
	font:bold 14px/16px "ＭＳ Ｐゴシック",sans-serif;
}
.pdv_add_val{
	font:bold 14px/16px "ＭＳ Ｐゴシック",sans-serif;
	color:#999;
}
div.pdv_item_container{
	margin:3px 0 0 5px;
	float:left;
}
div.pdv_item_name{float:left;}
div.pdv_val{
	text-align:center;
	float:left;
	padding:0 0 0 10px;
}

#PDV_TABLE{
	background-color:#003438;
	margin:3px 0 3px 5px;
	clear:left;
	float:left;
}
td.pdv_item_name{line-height:16px;}
td.pdv_val{
	white-space:nowrap;
	width:35px;
	text-align:right;
}
td.pdv_add_val{width:35px;}

#PDV_WP_MAIN,#PDV_WP_SUB{
	font:bold 14px/18px "ＭＳ Ｐゴシック",sans-serif;
	margin:3px 0 3px 5px;
	display:none;
	float:left;
}

#PDV_TYPE>.pdv_val{width:62px;}
#PDV_SIZE>.pdv_val{width:20px;}

#PDV_COST>.pdv_item_name{color:#a0ffff;}
#PDV_HP>.pdv_item_name{color:#4161d7;}
#PDV_STR>.pdv_item_name,#PDV_TEC>.pdv_item_name{color:#ff5000;}
#PDV_WLK>.pdv_item_name,#PDV_FLY>.pdv_item_name{color:#32dc28;}
#PDV_TGH>.pdv_item_name{color:#c8aa00;}

.pdv_add_val.plus{color:#0ff;}
#PDV_COST>.pdv_add_val.plus{color:#e5e674;}

#PDV_MWP_HEAD{
	font:bold 16px/18px "arial black","ＭＳ ゴシック",monospace;
	color:#ff5252;
}
#PDV_SWP_HEAD{
	font:bold 16px/18px "arial black","ＭＳ ゴシック",monospace;
	color:#5491f6;
}
.pdv_wp_item_name{
	
}
.pdv_wp_val{
	text-align:center;
}
#PDV_MAIN_PWR>.pdv_wp_val{width:50px;}
#PDV_SUB_PWR>.pdv_wp_val{width:50px;}

/* CARTRIDGE */
#CARTRIDGE_CONTAINER{
	background-color:#5789bf;
	width:342px;
	border-radius:8px;
	-moz-border-radius:8px;
	border:2px outset #5789bf;
	margin-bottom:5px;
}

#CTRG_TEMPLATE{display:none;}

/* CARTRIDGE HEAD */
#CTRG_HEAD_CONTAINER{
	color:#e5e6e8;
	font:bold 14px/28px "ＭＳ Ｐゴシック",sans-serif;
	padding:0 1px 1px 7px;
	margin:7px 4px 3px;
	border-bottom:2px solid #ea7b03;
}
#LV_CONTAINER{
	background-color:#0e1b29;
	color:#1fdae5;
	font:bold 14px/100% "arial black","ＭＳ ゴシック",monospace;
	border-radius:4px;
	-moz-border-radius:4px;
	margin:0 1px 0 0;
	padding:3px 5px 5px;
	float:right;
	border:2px inset #0e1b29;
	width:95px;
}
#CURRENT_LV{
	text-align:right;
	float:right;
}
#LV_DOWN_BTN{
	background-color:#1e2b39;
	border:1px outset #2e3b49;
	color:red;
	float:right;
	cursor:pointer;
	margin:1px 3px 0 0;
	padding:1px 6px 0 6px;
	font:bold 12px/20px "arial black","ＭＳ ゴシック",monospace;
}
#LV_DOWN_BTN:active{
	border-style:inset;
	padding:0 6px 1px 6px;
}

#CRTG_COST_TEXT{
	text-align:right;
	color:#ef7408;
	font:10px/12px "arial black","ＭＳ ゴシック",monospace;
	padding:0;
	margin:0 34px;
}

#CTRG_LIST_CONTAINER{
	clear:right;
	list-style-type:none;
	background-color:#5789bf;
	color:#e5e6e8;
	height:228px;
	overflow:auto;
	padding:0 2px;
	margin:0 10px 10px 10px;
}

.cartridge{
	background-color:#304b6c;
	padding:3px 10px;
	margin:4px;
	cursor:pointer;
	font:14px/18px "ＭＳ Ｐゴシック",sans-serif;
	color:#858688;
	border-radius:4px;
	-moz-border-radius:4px;
}

.ex{background-color:#6c4b30;}

.cost{
	float:right;
	font-weight:bold;
	padding:0;
	margin:0;
}

.cartridge.selected{
	color:#e5e6e8;
}

#CTRG_TOOLTIP{
	background-color:#ed8;
	border:1px solid #760;
	color:#222;
	font-size:small;
	padding:3px;
	display:none;
	position:absolute;
}

/* ダメージマップ */
.damage_map_container{
	height:60px;
}
.damage_map{
	font-size:10px;
	line-height:12px;
	background-color:#111;
	filter:alpha(opacity=90);
	border:1px solid #000;
}
.all_view{
	position:absolute;
	top:0;
	left:0;
	cursor:default;
}
.all_view tbody>tr:hover{
	font-size:16px;
	background-color:#333;
	line-height:18px;
}
.damage_map th{
	padding:0;
	width:23px;
	background-color:#444;
}
th.even{
	background-color:#555;
}
.damage_map td{
	padding:0;
	width:23px;
	text-align:center;
}
.even{
	background-color:#222;
}
.damage_map .th1{
	width:55px;
	background:#555 url(img/slash.gif) no-repeat center center;
	padding:1px 8px;
}
#TEC_DAMAGE_MAP{color:#ff4242;}
#STR_DAMAGE_MAP{color:#5491f6;}

/* テキスト入出力 */
#TEXT_IO_CONTAINER{
	background-color:#000;
	opacity:0.9;
	margin:50px auto;
	border:1px #666 solid;
	width:632px;
}
#TIO_TOP{
	font-size:16px;
	margin:3px 10px;
	color:#ffe;
}
#TIO_CLOSE{
	color:#ffe;
	margin:3px 10px;
	background-color:#900;
	border:1px outset #900;
	float:right;
	cursor:default;
	font:bold 10px/14px "ＭＳ ゴシック",monospace;
	padding:1px 3px;
}
#TIO_CLOSE:active{
	border:1px inset #900;
}
#TIO_TEXTAREA{
	border:1px #999 inset;
	width:600px;
	height:500px;
	padding:10px 0 10px 10px;
	margin:0 10px;
	font: 14px/16px "ＭＳ ゴシック",monospace;
}
.read_only{
	background-color:#111;
	color:#ffe;
}
#TIO_CLOSE{
}
#TIO_BOTTOM{margin:3px 10px;}
.tio_button{
	
}
.tout{visibility:hidden;}

#MATERIALS{
	display:none;
	background-color:#003438;
	font-size:12px;
	line-height:14px;
	width:190px;
	height:128px;
	overflow:auto;
	padding:3px 3px 3px 7px;
	float:left;
	margin:3px 5px;
}

.fixed{color:#a5a6a8;}
.fixed.bltin_m{color:#af0202;}
.fixed.bltin_s{color:#0441a6;}
.fixed.bltin_ms{color:#af0fa6;}

.highlight{
	font-size:14px;
	color:yellow;
	font-weight:bold;
}

/* RESULT */
.res_item_container{
	border-radius:4px;
	-moz-border-radius:4px;
	background-color:#78a;
	border:1px solid #0e1b29;
	font:bold 14px/18px "arial black","ＭＳ Ｐゴシック",monospace;
	padding:2px;
}
.res_item_name{
	color:#1fdae5;
	text-align:center;
	padding:0;
}
.res_current_val{
	background-color:#0e1b29;
	color:#e5e6e8;
	text-align:right;
	padding:0 2px;
}
.res_add_val{
	background-color:#0e1b29;
	padding:0 4px 0 0;
}
div.res_item_container,
div.res_item_name,
div.res_current_val,
div.res_add_val{float:left;}

.t4{width:48px;}
#RES_COST{}
#RES_COST>.res_item_name{}
#RES_COST>.res_current_val{width:40px;}
#RES_COST>.res_add_val{width:46px;color:#e5e674;}

#RES_CAPA{}
#RES_CAPA>.res_item_name{}
#RES_CAPA>.res_current_val{width:40px;}
#RES_CAPA>.res_add_val{width:46px;color:#999;}

#RES_TYPE{width:114px;clear:left;}
#RES_TYPE>.res_item_name{}
#RES_TYPE>.res_current_val{width:24px;text-align:center;}
#RES_TYPE>.res_add_val{color:#e5e674;}

#RES_SIZE{width:114px;}
#RES_SIZE>.res_item_name{}
#RES_SIZE>.res_current_val{width:24px;text-align:center;}
#RES_SIZE>.res_add_val{color:#e5e674;}

#RES_HP{width:114px;clear:left;}
#RES_HP>.res_item_name{width:38px;}
#RES_HP>.res_current_val{width:30px;}
#RES_HP>.res_add_val{color:#999;}

#RESULT_TABLE{
	margin-right:5px;
	width:240px;
	color:#999;
}
#RESULT_TABLE td.res_item_name{width:38px;}
#RESULT_TABLE td.res_current_val{width:22px;}
#RESULT_TABLE td.res_add_val{width:30px;}
#RESULT_TABLE td.res_graph{
	background-color:#0e1b29;
	color:#9f3;
	font-family:"arial","ＭＳ ゴシック",monospace;
	font-variant:small-caps;
}
.plus:before{content:"+";}
#RES_CAPA .plus,
#RES_HP .plus,
#RESULT_TABLE .plus{color:#0ff;}

/* 出撃判定 */
#JUDGE_SORTIE{
	background-color:#1fdae5;
	font:bold 14px/18px "arial black","ＭＳ Ｐゴシック",monospace;
	color:#0ec;
	margin:5px 3px 5px 0px;
	padding:2px;
	clear:left;
	border:1px solid #0e1b29;
	border-radius:4px;
	-moz-border-radius:4px;
	float:left;
	vertical-align:middle;
}
.check_title{
	padding:0 3px;
	color:black;
}
.check_val{
	background-color:#0e1b29;
	color:#0ec;
	padding:0 5px;
}
.ng{color:red;}
#JUDGE_SORTIE.ng{background-color:#f62;}

/* ロボ名 */
#ROBO_NAME_CONTAINER:before{content:url(img/roboNameTop.gif);}
#ROBO_NAME_CONTAINER:after{content:url(img/roboNameBottom.gif);}
#ROBO_NAME{
	width:236px;
	padding:0;
	background-color:#000;
	border:0;
	font:bold 14px/17px "ＭＳ Ｐゴシック",sans-serif;
	color:#ffe;
	text-align:center;
	margin:0 2px;
	min-height:17px;
}
.floating{
	position:relative;
	z-index:1000;
	font:bold 18px/120% "ＭＳ Ｐゴシック",sans-serif;
}

/* 名前変更 */
#RENAME_CONTAINER{
	background-color:black;
	text-align:center;
	font:18px/24px "ＭＳ Ｐゴシック",sans-serif;
	opacity:0.9;
	color:#ffe;
	padding:20px;
	margin:200px auto;
	border-radius:8px;
	-moz-border-radius:8px;
	width:300px;
	border:2px outset #444;
}
#RENAME_INPUT{
	font:16px/18px "ＭＳ Ｐゴシック",sans-serif;
	background-color:#444;
	color:#eed;
	border:1px inset;
	border-radius:4px;
	-moz-border-radius:4px;
	padding:1px 5px;
	margin:0;
	height:19px;
}
#RENAME_CONTAINER>div{margin:15px 0;}
.rename_button{
	border-radius:4px;
	-moz-border-radius:4px;
	width:80px;
	margin:0 10px;
}
#RENAME_CHANGE{}
#RENAME_CANCEL{}

.line{margin:8px 10px 8px 0;}

/* 機能 */
#FUNCTION_CONTAINER{
	margin:10px 0;
	padding:0;
	width:240px;
}
.button{
	border:0;
	padding:3px 7px;
	font: 14px/18px "ＭＳ Ｐゴシック",sans-serif;
	cursor:default;
	color:black;
}
.button:hover{
	border:1px solid #fff;
	padding:2px 6px;
}
.button:active{
	border:1px inset #fff;
	padding:2px 6px;
}
#TEXT_IO_BUTTON{text-align:right;}
#SAVE_SLOT{
	border:1px inset #ccc;
	background-color:#333;
	color:#ffe;
	font: 14px/18px "arial","ＭＳ Ｐゴシック",sans-serif;
	margin:15px 0 0;
	padding:0;
	width:212px;
	float:right;
	cursor:pointer;
}
#SS_CURRENT_VAL{
	padding:3px 0 3px 7px;
}
#SS_DOWN_IMG{
	float:right;
	padding:2px;
	border-width:1px;
	border-style:solid;
	border-left-color:#999;
	border-top-color:#999;
	border-right-color:#111;
	border-bottom-color:#111;
}
#SS_LIST{
	background-color:#333;
	border:1px solid #999;
	margin:0;
	display:none;
	position:absolute;
	width:210px;
}
.ss_item{padding:0 7px;min-height:18px;}
.ss_item:hover{background-color:#007;}
#SS_BOTTON{
	clear:right;
	text-align:right;
	margin:1px 0 10px
}

/* メッセージ */
#MESSAGE{
	margin:0 10px 0 0;
	padding:3px 7px;
	border:1px inset #777;
	background:#000 url(img/message_back.gif);
	font: 14px/18px "ＭＳ Ｐゴシック",sans-serif;
	color:#ffe;
	overflow:auto;
	height:140px;
	width:224px;
}
.msg{white-space:nowrap;}
.warning{color:orange;}
.error{color:red;}

/* 更新日時 */
#LAST_MODIFIED{
	font: 12px/14px "ＭＳ ゴシック",monospace;
	text-align:right;
	margin-right:10px;
}
#LAST_MODIFIED:before{
	content:"LastModified: ";
}

#EXEC_AURA_SYSTEM{
	background-color:#eae370;
	color:orange;
	border:1px outset #eae370;
	height:22px;
	width:26px;
	margin:0;
	border-radius:4px;
	-moz-border-radius:4px;
	display:none;
}
#EXEC_AURA_SYSTEM.active,
#EXEC_AURA_SYSTEM:active{
	background-color:#ead350;
	color:red;
	border:1px inset #eae370;
}